@import url('https://fonts.cdnfonts.com/css/avenir');

html, body, #root, .App {
  height: 100%;
  background-color: black;
  font-family: 'Avenir';
  color: grey
}

.MuiTypography-root {
  font-family: 'Avenir';
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #575757;
  margin-bottom: 5px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #575757;
  margin-top: 5px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #575757;
  margin-left: 5px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #575757; 
  margin-right: 5px;
}